################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/LojaCC/FileContentIndex/71ab91c6-3adb-4c25-b722-420455f2d8ef.vsidx
.vs/